//-********************************************************************************
//---------------------------------------------------------------------------------
//- Mixins
//---------------------------------------------------------------------------------
//-********************************************************************************

//-============================================================
//- Nav Menu
//-============================================================

//- This mixin iterates through and creates each menu item
mixin navmenu(menu_items)
	.navmenu
		ul
			each fst_item in menu_items
				li
					+navlinks(fst_item)
					if fst_item.child
						ul
							each srd_item in fst_item.child
								li
									+navlinks(srd_item)
									if srd_item.child
										ul
											each trd_item in srd_item.child
												li
													+navlinks(trd_item)
//- This mixin generates the links
mixin navlinks(item)
	- var linkatts = { "href": item.link, "type": item.type }
	a()&attributes(linkatts)= item.title

//- Example
//- +navmenu([
//- 	{ "title":"Home", "link":"index.htm" },
//- 	{ "title":"About My Work", "link":"about.htm",
//- 		"child": [
//- 			{ "title":"Noteable Clients", "link":"clients.htm" },
//- 			{ "title":"Behance Portfolio", "link":"http://www.behance.net", "type":"out_follow" },
//- 			{ "title":"Resume Download", "link":"resume.doc", "type": "download",
//- 				"child": [
//- 					{ "title":"Noteable Clients", "link":"clients.htm" },
//- 					{ "title":"Behance Portfolio", "link":"http://www.behance.net", "type":"out_follow" },
//- 					{ "title":"Resume Download", "link":"resume.doc", "type": "download" }
//- 				]
//- 			 },
//- 		]
//- 	},
//- 	{ "title":"Blog", "link":"blog.htm" },
//- 	{ "title": "Contact", "link":"http://www.hostedform.com", "type":"out_nofollow" }
//- ])


//-============================================================
//- Bootstrap Columns Generator
//-============================================================

mixin bsColA( div, lg, md, sm, xs )
	if lg > 0 
		- var lgW = "col-lg-" + lg
	else
		- var lgW = null
	if md > 0 
		- var mdW = "col-md-" + md
	else
		- var mdW = null
	if sm > 0 
		- var smW = "col-sm-" + sm
	else
		- var smW = null
	if xs > 0 
		- var xsW = "col-xs-" + xs
	else
		- var xsW = null
	- var arrj = [lgW, mdW, smW, xsW]
	#{div}( class=arrj )&attributes(attributes)

mixin bsColB( div, lg, md, sm, xs )
	if lg > 0 
		- var lgW = "col-lg-" + (12-lg)
	else
		- var lgW = null
	if md > 0 
		- var mdW = "col-md-" + (12-md)
	else
		- var mdW = null
	if sm > 0 
		- var smW = "col-sm-" + (12-sm)
	else
		- var smW = null
	if xs > 0 
		- var xsW = "col-xs-" + (12-xs)
	else
		- var xsW = null
	- var arrj = [lgW, mdW, smW, xsW]
	#{div}( class=arrj )&attributes(attributes)

mixin bsColS( div, lg, md, sm, xs )
	if lg > 0 
		- var lgW = "col-lg-" + (12/lg)
	else
		- var lgW = null
	if md > 0 
		- var mdW = "col-md-" + (12/md)
	else
		- var mdW = null
	if sm > 0 
		- var smW = "col-sm-" + (12/sm)
	else
		- var smW = null
	if xs > 0 
		- var xsW = "col-xs-" + (12/xs)
	else
		- var xsW = null
	- var arrj = [lgW, mdW, smW, xsW]
	#{div}( class=arrj )&attributes(attributes)

//-============================================================
//- Utilities
//-============================================================

mixin multiplier(limit)
	- for (var i = 1; i <= limit; i++) {
	block
	- }